#currentHeader{
	color:ivory;
}

.table-striped > tbody > tr.selected {
    background-color:#228B22;
    color:ivory;
    font-weight:bold;
}

.table tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #b1b1b1;
}

.box-header .nav-tabs ul li.activeCurrent, .box-header ul li ul li.activeCurrent, .box-header ul li ul li > a:focus
 , .box-header ul li > a:focus, .box-header ul li > a:active{
	opacity: 1;
	background-color: #568DBB !important;
	margin-bottom: 5px;
}

#currentTab li.activeCurrent {
	opacity: 1 !important;
	background-color: #568DBB !important;
	background: #568DBB !important;
	margin-bottom: 5px;
}

.box-body-custom{
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 10px;
}

table.dataTable thead th {
    position: relative;
    background-image: none !important;
}
 
table.dataTable thead th.sorting:after,
table.dataTable thead th.sorting_asc:after,
table.dataTable thead th.sorting_desc:after {
    position: absolute;
    top: 12px;
    right: 8px;
    display: block;
    font-family: FontAwesome;
}
table.dataTable thead th.sorting:after {
    content: "\f0dc";
    color: #ddd;
    font-size: 0.8em;
    padding-top: 0.12em;
}
table.dataTable thead th.sorting_asc:after {
    content: "\f0de";
}
table.dataTable thead th.sorting_desc:after {
    content: "\f0dd";
}

/* 
  Override style for loading bar
*/
#loading-bar .bar {
  background: #c40000;
}

#loading-bar-spinner {
  left: 1;
  right: 10px;
  left: auto;
}

#loading-bar-spinner .spinner-icon {
  width: 20px;
  height: 20px;

  border:  solid 2px transparent;
  border-top-color: #c40000 ;
  border-left-color: #c40000;
  border-radius: 70%;

}
