<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>WayCare Accidents prediction</title>
    <!-- Bootstrap Core CSS -->
    <link href="libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- ionicons CSS -->
    <link href="libs/ionicons/css/ionicons.min.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="libs/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Weather Icons -->
    <link href="libs/weather-icons/css/weather-icons.min.css" rel="stylesheet" type="text/css">
    <!-- angular-datatables-bootstrap -->
    <link rel="stylesheet" href="libs/angular-datatables/dist/plugins/bootstrap/datatables.bootstrap.min.css">
    <!-- angular-loading-bar -->
    <link rel='stylesheet' href='libs/angular-loading-bar/build/loading-bar.min.css' type='text/css' media='all' />
    <!-- angular-ui-clock -->
    <link rel='stylesheet' href='libs/angular-ui-clock/dist/angular-clock.css' type='text/css' media='all' />
    <!-- angularjs sliders -->
    <link rel='stylesheet' href='libs/angularjs-slider/dist/rzslider.min.css' type='text/css' media='all' />
    <!-- Skins -->
    <link href="css/skins/_all-skins.min.css" rel="stylesheet">
    <!-- Template CSS -->
    <link href="css/template.css" rel="stylesheet">
    <!-- Custom style CSS -->
    <link href="css/style.css" rel="stylesheet">
    <link href="css/style_custom.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>

<body class="hold-transition {{skin}} sidebar-mini sidebar-collapse"  ng-app='wayCare' ng-controller="headerCtrl">
    <header class="main-header">
        <!-- Logo -->
        <a href="/" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><img src="resources/images/logo/logo1Esm.png"></span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><img src="resources/images/logo/logo1Esm.png"><b> Way</b>Care</span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button
            <a href="/" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>-->
            <div class="header">
                <div class="header-tabs">
                    <ul class="nav nav-pills pull-left">
                        <li ng-class="{ active: isActive('/current')}" ng-click="clickHeaderTab('current')"><a ui-sref="current">Current Status</a></li>
                        <li ng-class="{ active: isActive('/prediction')}" ng-click="clickHeaderTab('prediction')"><a ui-sref="prediction">Prediction</a></li>
                        <li ng-class="{ active: isActive('/decision')}" ng-click="clickHeaderTab('decision')"><a ui-sref="decision">Decision</a></li>
                    </ul>
                </div>
                <div class="currentClock" ng-show="clock">
                    <ds-widget-clock show-digital start-time="time" theme="currentDate" gmt-offset="gmtValue" digital-format="'MMM d, yyyy'"></ds-widget-clock>
                    <ds-widget-clock show-digital start-time="time" theme="currentTime" gmt-offset="gmtValue" digital-format="'H:mm'"></ds-widget-clock>
                </div>
                <div class="predictionClock"  ng-show="predictionClock">
                    <span animate-on-change='' id="Time">Prediction Time: </span>
                    <span id="Time">{{ predictionTime | date : 'HH:mm' : '+0200'}}, </span>
                    <span id="Date">{{ predictionTime | date : 'MMM d, yyyy' : '+0200'}}</span>
                </div>
            </div>
        </nav>
    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu">
                <li class="header">MAIN NAVIGATION</li>
                <li class="active treeview">
                    <a href="#">
                        <i class="fa fa-dashboard"></i> <span>Accidents summary</span> <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li class="active"><a ui-sref="accidents-summary"><i class="fa fa-circle-o"></i> All Accidents summary</a></li>
                        <li><a ui-sref="accidents-last"><i class="fa fa-circle-o"></i> Last accidents summary</a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-pie-chart"></i><span>Charts</span><i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="#"><i class="fa fa-circle-o"></i> ChartJS</a></li>
                    </ul>
                </li>
            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>
    <div class="content-wrapper">
        <!-- Main content -->
        <section class="content">
            <div ui-view></div>
        </section>
    </div>
    <!-- !Main content -->
    <!-- jQuery -->
    <script src="libs/jquery/dist/jquery.min.js"></script>
    <!-- JQuery datatables -->
    <script src="libs/datatables/media/js/jquery.dataTables.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Holder JS -->
    <script src="libs/holderjs/holder.min.js"></script>
    <!-- highcharts -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/solid-gauge.js"></script>
    <!-- Moments -->
    <script src="libs/moment/moment.js"></script>
    <script src="libs/moment-timezone/moment-timezone.js"></script>
    <!-- Angular JS Source -->
    <script src="libs/angular/angular.min.js"></script>
    <script src="libs/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="libs/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="libs/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="libs/angularjs-geolocation/dist/angularjs-geolocation.min.js"></script>
    <script src="libs/angular-datatables/dist/angular-datatables.min.js"></script>
    <script src="libs/angular-datatables/dist/plugins/bootstrap/angular-datatables.bootstrap.min.js"></script>
    <script src="libs/highcharts-ng/dist/highcharts-ng.min.js"></script>
    <script src="libs/angular-animate/angular-animate.min.js"></script>
    <script src='libs/angular-loading-bar/build/loading-bar.min.js'></script>
    <script src="libs/angular-ui-clock/dist/angular-clock.js"></script>
    <script src="libs/angular-moment/angular-moment.min.js"></script>
    <script src="libs/angularjs-slider/dist/rzslider.min.js"></script>
    <script src='libs/lodash/lodash.min.js'></script>
    <script src='libs/angular-simple-logger/dist/angular-simple-logger.min.js'></script>
    <script src='libs/angular-google-maps/dist/angular-google-maps.min.js'></script>
    <!-- JQuery Custom  -->
    <script src="js/jquery/apSite.js"></script>
    <!-- Angular JS Custom -->
    <script src="js/app.js"></script>
    <script src="js/services/sectionService.js"></script>
    <script src="js/services/predictionService.js"></script>
    <script src="js/services/incidentService.js"></script>
    <script src="js/services/sliderService.js"></script>
    <script src="js/services/gmapService.js"></script>
    <script src="js/services/globalService.js"></script>
    <script src="js/controllers/headerCtrl.js"></script>
    <script src="js/controllers/currentCtrl.js"></script>
    <script src="js/controllers/predictionCtrl.js"></script>
    <script src="js/controllers/decisionCtrl.js"></script>
    <script src="js/controllers/overviewCtrl.js"></script>
    <script src="js/controllers/sectionCtrl.js"></script>
    <script src="js/controllers/accidentsCtrl.js"></script>
    <script src="js/controllers/sectionPredictionCtrl.js"></script>
    <script src="js/controllers/overviewPredictionCtrl.js"></script>
    <script src="js/controllers/accidentsSummaryCtrl.js"></script>
    <script src="js/controllers/accidentsLastCtrl.js"></script>
    <script src="js/controllers/gmapCtrl.js"></script>
    <script src="js/controllers/gmapPredictionCtrl.js"></script>
    <!-- google maps 
    
    <script src="https://maps.googleapis.com/maps/api/js?libraries=drawing,places"></script>
-->
</body>

</html>
