<!-- partials/accidents-summary.html -->
<div class="col-md-6">
    <div class="box box-widget widget-user-2">
        <!-- Add the bg color to the header using any of the bg-* classes -->
        <div class="widget-user-header bg-blue">
            <div class="widget-user-image">
                <img class="img-circle" src="resources/images/accidents/accident-tow.jpg" alt="User Avatar">
            </div>
            <h3 class="widget-user-username">Accidents summary</h3>
            <h4 class="widget-user-desc">Success Rate: <strong>{{ successRate }}%</strong></h4>
        </div>
    </div>
    <div class="box-body-custom">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-7">
                    <strong><i class="fa fa-cloud margin-r-5"></i> Summary:</strong>
                    <ul>
                        <li>Number of accidents: <strong>{{ totalAccidents }}</strong></li>
                        <li>Predicted accidents : <strong>{{ predictedAccidents }}</strong></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <h3>Charts</h3>
            </div>
        </div>
    </div>
</div>
<div class="col-md-6">
    <table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="table table-striped table-responsive table-hover">
        <thead>
            <tr>
                <th>Time</th>
                <th>Description</th>
                <th>Predicted</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="accident in accidents">
                <td>{{accident.time | date : 'H:mm MMM d, yyyy' : '+0200' }}</td>
                <td>{{accident.title}}</td>
                <td><i class="fa {{accident.predicted}}"></i></td>
            </tr>
        </tbody>
    </table>
</div>
