<!-- partials/accidents-last.html -->
<div class="col-md-7" ng-controller="gmapCtrl">
    <div class="box box-default box-solid">
        <div class="box-header with-border {{skin}}">
            <h3 class="box-title">Ayalon Overview</h3>
            <div class="box-tools pull-right">
                <i class="fa fa-map-marker"></i>
            </div>
            <!-- /.box-tools -->
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="angular-google-map-container">
                <ui-gmap-google-map center='map.center' zoom='map.zoom'>
                    <!-- Markers -->
                    <ui-gmap-markers models="lastAccidentsMarker" coords="'self'" options="'optionsAccidents'"></ui-gmap-markers>
                    <ui-gmap-markers models="startMarkers" coords="'self'" options="'optionsStartMarkers'"></ui-gmap-markers>
                    <ui-gmap-polylines models="routesBorder" path="'pathBorder'" stroke="'strokeBorder'"></ui-gmap-polylines>
                    <ui-gmap-polylines models="routes" path="'pathRoute'" stroke="'strokeRoute'" events="'eventsRoute'"></ui-gmap-polylines>
                </ui-gmap-google-map>
            </div>
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
</div>
<div class="col-md-5">
    <table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="table table-striped table-responsive table-hover">
        <thead>
            <tr>
                <th>Time</th>
                <th>Description</th>
                <th>Predicted</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="accident in accidents">
                <td>{{accident.time | date : 'H:mm MMM d, yyyy' : '+0200' }}</td>
                <td>{{accident.title}}</td>
                <td><i class="fa {{accident.predicted}}"></i></td>
            </tr>
        </tbody>
    </table>
</div>
