<table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="table table-hover table-responsive no-padding">
    <thead>
        <tr>
            <th>Time</th>
            <th>Title</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="accident in incidents">
            <th>
                {{ accident.crTime | date : 'H:mm MMM d, yyyy' : '-0500' }}
            </th>
            <th>
                {{ accident.title }}
            </th>
            <th>
                {{ accident.description }}
            </th>
        </tr>
    </tbody>
</table>