<!-- partials/current-section.html -->
<div class="box box-widget widget-user-2">
    <!-- Add the bg color to the header using any of the bg-* classes -->
    <div class="widget-user-header {{ section.headerBgColor }}">
        <div class="widget-user-image">
            <img class="img-circle" src="resources/images/{{section.image}}" alt="User Avatar">
        </div>
        <h3 class="widget-user-username">{{ section.name }}</h3>
        <h4 class="widget-user-desc">Start km: <strong>{{ section.mile }}km</strong>, Length: <strong>{{ section.length }}km</strong><span class="pull-right">{{section.type}}</span></h4>
    </div>
</div>
<div class="box-body-custom current-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7">
                <strong><i class="fa fa-car margin-r-5"></i>  Current status: </strong>
                <span class="label {{section.alert.bgColor}} fa {{section.alert.alertIcon}}">{{ section.state }}</span>
                <hr>
                <strong><i class="fa fa-cloud margin-r-5"></i> Weather condition:</strong>
                <ul>
                    <li>Description: <strong>{{section.weatherConditions.description}}</strong></li>
                    <li>Temperature: <strong>{{ section.weatherConditions.temperature }}<i class="wi wi-fahrenheit"></i></strong></li>
                    <li>Visibility: <strong>{{section.weatherConditions.visibility}}</strong></li>
                    <li>conditions: <span ng-repeat="conditionItem in section.weatherConditions.conditions" class="label {{conditionItem.alertBgColor}}"> {{conditionItem.condition}} </span></li>
                </ul>
            </div>
            <div class="col-md-5">
                <p><strong><i class="fa fa-tachometer margin-r-5" style="float: center"></i>Accidents hit accuracy: </strong></p>
                <highchart id="sectionScoreGauge" config="chartConfig" style="width: 210px; height: 150px; float: center"></highchart>
            </div>
        </div>
    </div>
    <div class="box box-default">
        <div class="box-header with-border">
            <h5 class="box-title"><strong><i class="fa fa-exclamation-triangle margin-r-5"></i> Current incidents:</strong></h5>
            <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <div class="box-body table-responsive no-padding">
            <table class="table table-hover">
                <tr>
                    <th>Time</th>
                    <th>Description</th>
                </tr>
                <tr ng-repeat="incident in section.incidents">
                    <td>{{ incident.incidentTime | date : 'H:mm MMM d, yyyy' : '+0200' }}</td>
                    <td>{{ incident.title }}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="box box-default collapsed-box">
        <div class="box-header with-border">
            <h5 class="box-title"><strong><i class="fa fa-exclamation-triangle margin-r-5"></i> Accidents history:</strong></h5>
            <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
            </div>
        </div>
        <div class="box-body no-padding">
            <table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="table table-striped table-responsive table-hover">
                <thead>
                    <tr>
                        <th>Time</th>
                        <th>Description</th>
                        <th>Predicted</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="accident in section.accidents">
                        <td>{{accident.time | date : 'H:mm MMM d, yyyy' : '+0200' }}</td>
                        <td>{{accident.title}}</td>
                        <td><i class="fa {{accident.predicted}}"></i></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
