<!-- partials/current.html -->
<div class="col-md-7" ng-controller="gmapCtrl">
    <div class="box box-default box-solid">
        <div class="box-header with-border {{skin}}">
            <h3 class="box-title">Ayalon Overview</h3>
            <div class="box-tools pull-right">
                <i class="fa fa-map-marker"></i>
            </div>
            <!-- /.box-tools -->
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="angular-google-map-container">
                <ui-gmap-google-map center='map.center' zoom='map.zoom'>
                    <!-- Markers -->
                    <ui-gmap-markers models="accidentsMarker" coords="'self'" options="'optionsAccidents'"></ui-gmap-markers>
                    <ui-gmap-markers models="incidentsMarker" coords="'self'" options="'optionsIncidents'"></ui-gmap-markers>
                    <ui-gmap-markers models="startMarkers" coords="'self'" options="'optionsStartMarkers'"></ui-gmap-markers>
                    <ui-gmap-polylines models="routesBorder" path="'pathBorder'" stroke="'strokeBorder'"></ui-gmap-polylines>
                    <ui-gmap-polylines models="routes" path="'pathRoute'" stroke="'strokeRoute'" events="'eventsRoute'"></ui-gmap-polylines>
                </ui-gmap-google-map>
            </div>
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
</div>
<div class="col-md-5">
    <div class="nav-tabs-custom">
        <div class="bg-light-blue">
            <ul class="nav nav-pills text-light">
                <!-- Overview /-->
                <li ng-class="{ focus: isActive('/overview')}" ng-click="clicked()" data-toggle="tab"><a ui-sref=".overview"><b> Overview</b></a></li>
                <!-- sections /-->
                <li class="dropdown" ng-class="{ focus: isActive('/section')}">
                    <a class="dropdown-toggle" data-toggle="dropdown"><b>Sections</b>
                                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="section in sections"><a ui-sref='.section({sectionName: section.sectionName})'><b>{{section.sectionName}}</b></a></li>
                    </ul>
                    </a>
                </li>
                <!-- accidents /-->
                <li ng-class="{ focus: isActive('/accidents')}" ng-click="clicked()" data-toggle="tab"><a ui-sref='.accidents'><b>Accidents</b></a></li>
            </ul>
        </div>
        <div class="tab-content">
            <!-- panel body /-->
            <div ui-view></div>
        </div>
    </div>
</div>