<!-- partials/current.html -->
<div class="col-md-7" ng-controller="gmapCtrl">
    <div class="box box-default box-solid">
        <div class="box-header with-border {{skin}}">
            <h3 class="box-title">Ayalon Overview</h3>
            <div class="box-tools pull-right">
                <i class="fa fa-map-marker"></i>
            </div>
            <!-- /.box-tools -->
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="angular-google-map-container">
                <ui-gmap-google-map center='map.center' zoom='map.zoom'>
                    <!-- Markers -->
                    <ui-gmap-markers models="accidentsMarker" coords="'self'" options="'optionsAccidents'"></ui-gmap-markers>
                    <ui-gmap-markers models="incidentsMarker" coords="'self'" options="'optionsIncidents'"></ui-gmap-markers>
                    <ui-gmap-markers models="startMarkers" coords="'self'" options="'optionsStartMarkers'"></ui-gmap-markers>
                    <ui-gmap-polylines models="routesBorder" path="'pathBorder'" stroke="'strokeBorder'"></ui-gmap-polylines>
                    <ui-gmap-polylines models="routes" path="'pathRoute'" stroke="'strokeRoute'" events="'eventsRoute'"></ui-gmap-polylines>
                </ui-gmap-google-map>
            </div>
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
</div>
<div class="col-md-5">
    <div class="nav-tabs-custom">
        <div class="bg-light-blue">
            <ul class="nav nav-pills text-light">
                <!-- Overview /-->
                <li ng-class="{ focus: isActive('/overview')}" ng-click="clicked()" data-toggle="tab"><a ui-sref=".overview"><b> Overview</b></a></li>
                <!-- sections /-->
                <li class="dropdown" ng-class="{ focus: isActive('/section')}">
                    <a class="dropdown-toggle" data-toggle="dropdown"><b>Sections</b>
                                    <span class="caret"></span></a>
                    </a>
                </li>
            </ul>
        </div>
        <div class="tab-content">
            <!-- panel body /-->
            <div>


<!-- partials/current-section.html -->
<div class="box box-widget widget-user-2">
    <!-- Add the bg color to the header using any of the bg-* classes -->
    <div class="widget-user-header bg-red">
        <div class="widget-user-image">
            <img class="img-circle" src="resources/images/city_hw1.png" alt="User Avatar">
        </div>
        <h3 class="widget-user-username">Garden State Parkway</h3>
        <h4 class="widget-user-desc">Start mile: <strong>140mi</strong>, Length: <strong>5mi</strong><span class="pull-right">InterState highway</span></h4>
    </div>
</div>
<div class="box-body-custom current-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <strong><i class="fa fa-car margin-r-5"></i>  Current status: </strong>
                <span class="label bg-red fa fa-exclamation">High risk for accident</span>
                <hr>
                <strong><i class="fa fa-cloud margin-r-5"></i> Weather condition:</strong>
                <ul>
                    <li>Description: <strong>Thunder Storm with hail</strong></li>
                    <li>Temperature: <strong>41<i class="wi wi-fahrenheit"></i></strong></li>
                    <li>Visibility: <strong>0.2mi</strong></li>
                </ul>
                <strong><i class="fa fa-database margin-r-5"></i> wayCARe best course of action:</strong>
                <ul>
                    <li><strong>Combined effort: Send scout to patrol area & decrease speed</strong></li>
                    <li><strong>Estimated effectiveness: </i><i style="color: green; font-size: 130%">75%</i></strong></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="box box-default">
        <div class="box-body table-responsive no-padding">
            <table id="hor-minimalist-b" class="table table-hover">
                <thead>
                <tr>
                    <th>Action</th>
                    <th>Effectiveness</th>
                    <th>Arrival time</th>
                    <th>Recomendation</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td style="vertical-align: middle; font-size: 120%;"><strong>Send scout to patrol area<strong></td>
                    <td style="color: green; font-size: 150%; vertical-align: middle;"><strong>72%</strong></td>
                    <td style="vertical-align: middle">
                    	<div>
                    	<strong>~2.5 minutes</strong>
                    	</br>
                    	Scout 2.1 miles away
                    	</div></td>
                    <td style="text-align: center" ><img src="resources/images/logo/logoBasic1ESm.png"></td>
                </tr>
                <tr>
                    <td>Use mobile warn sign</td>
                    <td>65%</td>
                    <td>2 hours to deploy</td>
                    <td></td>
                </tr>
                <tr>
                    <td style="vertical-align: middle; font-size: 110%;"><strong>Decress speed with speed signs</strong></td>
                    <td style="color: green; font-size: 150%; vertical-align: middle;"><strong>64%</strong></td>
                    <td style="vertical-align: middle"><strong>Instantly</strong></td>
                    <td style="text-align: center"><img src="resources/images/logo/logoBasic1ESm.png"></td>
                </tr>
                <tr>
                    <td>Use static warn sign</td>
                    <td>43%</td>
                    <td>Instantly</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Allocate police squad</td>
                    <td>85%</td>
                    <td>15 minutes</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Allocate towing truck</td>
                    <td>20%</td>
                    <td>5 minutes</td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
















            </div>
        </div>
    </div>
</div>