<!-- partials/prediction.html -->
<div class="col-md-7" ng-controller="gmapPredictionCtrl">
    <div class="box box-default box-solid">
        <div class="box-header with-border {{skin}}">
            <h3 class="box-title">Ayalon Overview</h3>
            <div class="box-tools pull-right">
                <i class="fa fa-map-marker"></i>
            </div>
            <!-- /.box-tools -->
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="angular-google-map-container">
                <ui-gmap-google-map center='map.center' zoom='map.zoom'>
                    <!-- Markers -->
                    <ui-gmap-markers models="startMarkers" coords="'self'" options="'optionsStartMarkers'"></ui-gmap-markers>
                    <ui-gmap-polylines models="routesBorder" path="'pathBorder'" stroke="'strokeBorder'"></ui-gmap-polylines>
                    <ui-gmap-polylines models="routes" path="'pathRoute'" stroke="'strokeRoute'" events="'eventsRoute'"></ui-gmap-polylines>
                </ui-gmap-google-map>
            </div>
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
</div>
<div class="col-md-5">
    <div class="nav-tabs-custom">
        <div class="bg-purple">
            <ul class="text-light nav nav-pills">
                <!-- Overview /-->
                <li ng-class="{ focus: isActive('/overview')}" ng-click="clicked()" data-toggle="tab"><a ui-sref=".overview"><b style="color:white"> Overview</b></a></li>
                <!-- sections /-->
                <li class="dropdown" ng-class="{ focus: isActive('/section')}">
                    <a class="dropdown-toggle" data-toggle="dropdown"><b style="color:white">Sections</b>
                                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="prediction in predictions"><a ui-sref='.section({sectionName: prediction.sectionName})'><b>{{prediction.sectionName}}</b></a></li>
                    </ul>
                    </a>
                </li>
            </ul>
        </div>
        <div>
            <div class="row">
                <div class="col-md-1">
                    <div class="logo-prediction">
                        <img src="resources/images/logo/{{predictionLogo}}">
                    </div>
                </div>
                <div class="col-md-11">
                    <rzslider rz-slider-model="prediction_slider.value" rz-slider-options="prediction_slider.options"></rzslider>
                </div>
            </div>
            <span class="logoPrediction">
            </span>
            <span class="sliderPrediction">
            </span>
        </div>
        <div class="tab-content">
            <!-- panel body /-->
            <div ui-view></div>
        </div>
    </div>
</div>
