<!-- partials/prediction-section.html -->
<div class="box box-widget widget-user-2">
    <!-- Add the bg color to the header using any of the bg-* classes -->
    <div class="widget-user-header {{ section.headerBgColor }}">
        <div class="widget-user-image">
            <img class="img-circle" src="resources/images/{{section.image}}" alt="User Avatar">
        </div>
        <h3 class="widget-user-username">{{ section.name }}</h3>
        <h4 class="widget-user-desc">Start KM: <strong>{{ section.mile }}km</strong>, Length: <strong>{{ section.length }}km</strong><span class="pull-right">{{section.type}}</span></h4>
    </div>
</div>
<div class="box-body-custom prediction-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7">
                <strong><i class="fa fa-car margin-r-5"></i>  Current status: </strong>
                <span class="label {{section.alert.bgColor}} fa {{section.alert.alertIcon}}">{{ section.state }}</span>
                <hr>
                <strong><i class="fa fa-cloud margin-r-5"></i> Weather conditions: </strong>
                <ul>
                    <li>Description: <strong>{{section.weatherConditions.description}}</strong></li>
                    <li>Temperature: <strong>{{ section.weatherConditions.temperature }}<i class="wi wi-fahrenheit"></i></strong></li>
                    <li>Visibility: <strong>{{section.weatherConditions.visibility}}</strong></li>
                    <li>conditions: <span ng-repeat="conditionItem in section.weatherConditions.conditions" class="label {{conditionItem.alertBgColor}}"> {{conditionItem.condition}} </span></li>
                </ul>
            </div>
        </div>
    </div>
</div>
