<!-- partials/current-overview -->
<table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="table table-striped table-hover table-responsive no-padding">
    <thead>
        <tr>
            <th>SectionId</th>
            <th>Route</th>
            <th>Start KM</th>
            <th>Length</th>
            <th>Weather</th>
            <th>State</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="section in sections" ng-click="highlightSection(section.sectionId)" ng-dblclick="changeView(section.sectionId)" ng-class="{selected: section.sectionId === idSelectedSection}" style="cursor: pointer; background-color:{{section.state.BgColor}}">
            <th>
                {{ section.sectionId }}
            </th>
            <th>
                {{ section.title }}
            </th>
            <th>
                {{ section.milePost }}
            </th>
            <th>
                {{ section.length }}
            </th>
            <th>
                {{ section.weatherConditions.description }}
            </th>
            <th>
                {{ section.state.description }}
            </th>
        </tr>
    </tbody>
</table>